header {
    position: fixed;
    top: 0;
  }

.div_two_columns{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.center-text {
    text-align: center;
}

.estandar {
    width: 200px;
    height: 200px;
}

.white_letters{
    color: #b3b3b3;
}